@media (min-width:1px) and (max-width:576px) {
     *{
        margin: 0;
        font-size: small;
    }

    .nav.container-fluid {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  .logo img {
    width: 10px;
  }

  .BOX {
    display: none;
  }

  .search input {
    width: 100%;
  }

  .nav-link ul {
    flex-wrap: wrap;
    justify-content: center;
    font-size: 14px;
  }

  .pg-containner {
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
  }

  .banner img {
    height: auto;
    object-fit: cover;
  }

  .hedding h1{
    font-size: 16px;
 
}
  .hedding2 h1{
    font-size: 16px;
 
}

  .hedding3 h1{
    font-size: 16px;
 
}

  .card-img-top{
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
}

  .card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 15px;
    gap: 15px;
    justify-content: center;
    /* margin:0px; */
    cursor: pointer;

  }
  
  .card {
    height: 100%;
    width: 100% !important;
    background: #fff;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12);
    transition: transform 0.3s ease;
  }
  .card-body {
    font-size: xx-small !important;
    margin-top: 5px;
    font-weight: 600;
    
  }
  .card-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1px;
    /* flex-direction: column; */
    align-items: center;
  }

  .card-img-top2{
  width: 100%;
  height: 100px;
  object-fit: cover;
  border-radius: 12px;
  }

  .card2 {
    width: 100% !important;
  }


  .card-container3 {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .col-md-4 img {
    width: 100%;
    height: auto;
}

.special-items {
    flex-direction: column;
    margin: 15px;
    
  }
  .special-items div{
    padding-left: 21px;

  }
  .special-items img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }

  
  .explore-container {
    grid-template-columns: repeat(2, 1fr);
  }

 
  .location-box img {
    width: 80px;
    height: 80px;
  }


  .sub {
    flex-direction: column;
    gap: 15px;
  }
}

  
  




