@media (min-width:1px) and (max-width:576px) {

    *{
        margin: 0;
        font-size: small;
    }

    .nav.container-fluid {
    flex-direction: column !important;
    gap: 10px;
    text-align: center;
  }

  .logo img {
    width: 10px;
  }

  .BOX {
    display: none;
  }

  .search input {
    width: 200%;
  }

  .nav-link ul {
    flex-wrap: wrap !important;
    justify-content: center;
    font-size: 10px;
  }

  .photo-containner {
    flex-wrap: wrap !important;
    gap: 10px;
    padding: 10px;
  }

  .main-image img {
        width: 100%;
        height: 70%;
        border-radius: 20px;
    }

  footer{
    display: flex !important;
    flex-direction:column;
  }

}