*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
  margin: 0 !important;
  font-family: sans-serif;
   background-color: #fde7c8 !important;
}

.ptop-header {
  background-color: #fde7c8;
}

.BOX{
    height: 50%;
    width:20%;
    padding: 10px;
    background:linear-gradient(rgb(255, 111, 0),rgba(255, 255, 255, 0.862));
    border-radius: 5px;
}

.search input{
    border-radius: 5px;
    border-color: orangered;
    padding: 5px;
    width: 20vw;
}

.photomenu {
  background-color:white;
  padding: 10px 0;
}

.banner .logo{
  width: 50%;
  height: 30px;
  object-fit: cover;
  display: block;
}

.nav-link ul a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size:1rem;
}

.nav-link ul a:hover{
    transition: all 0s;
    color: orangered;
}

.photo-containner a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size:10px;
}
.photo-containner{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
}

/*  */
nav .breadcrumb{
        margin: 20px;
}
.breadcrumb-bar a{
  padding: 20px 60px;
  color: #444;
}
.breadcrumb-item a{
    text-decoration: none;
    color: black;
}

.product-card {
  background: #fad5a8;
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 50px;
}

.thumbs img {
  width: 100px;
  height: 80px;
  margin-bottom: 12px;
  border-radius: 8px;
  cursor: pointer;
}

.main-image img {
  width: 100%;
  height: 70%;
  border-radius: 20px;
}

.reviews {
  color: orangered;
  font-weight: bold;
}

.sku {
  color: #666;
}

.price {
  font-size: 20px;
  font-weight: bold;
}

.option-box {
  border: 2px solid orangered;
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 20px;
}

.option-group button {
  border: 2px solid orangered;
  background: transparent;
  padding: 2px 10px;
  border-radius: 8px;
  margin-right: 10px;
  font-size: smaller;
  margin: 10px;
}

.upload-btn {
  background: orangered;
  color: white;
  width: 250px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  margin-top: 20px;
}

.wishlist {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 24px;
  cursor: pointer;
}

/* Quantity box */
.qty-wrapper {
  display: flex;
  width: 160px;
  border: 2px solid #000;
  border-radius: 6px;
  overflow: hidden;
  margin: 20px 0;
}

.qty-wrapper button {
  width: 40px;
  border: none;
  background:transparent;
  font-size: 18px;

}

.qty-wrapper input {
  width: 80px;
  text-align: center;
  border: none;
  font-size: 16px;
  color: #666;
}

/* Add to cart */
.add-cart-btn {
  width: 100%;
  background: #ffb27a;
  border: none;
  border-radius: 5px;
  padding: 14px;
  font-size: 16px;
  margin-bottom: 20px;
}

/* Product details */

.details-text {
  margin-top: 15px;
  font-size: 14px;
}

/*  */

footer{
   display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1px;
    padding: 10px;
    background-color: aliceblue ;
    margin-top: 30px;
}
.items{
    color: #ff7f1e;
    margin:0;
}
footer h1{
    font-size: 15px;
    text-align: left;
}
footer div{
    display: grid;
    grid-template-rows: auto;
    gap: 2px;
    font-size: 15px;
}
footer a ,small{
    color: gray;
}
footer input{
    background: transparent;
    border-radius: 5px;
    padding: 1px;
    border: solid lightgray;
}
.footer2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    background-color: aliceblue;
    padding: 20px;
}
.footer2 div{
    margin: 0;
}
.fitems p{
    gap: 20px;
    font-size: small;
}
.links a{
    text-decoration: none;
}